@import url('https://fonts.googleapis.com/css?family=Audiowide|Open+Sans:400,700');

$white-smoke: #FBF5F3;
$vista-blue: #7F95D1;
$pewter-blue: #8DAA9D;

*, html {
	padding: 0;
	margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
	background: url("./images/starry-background.jpg") no-repeat fixed center;
	color: white;
	font-family: "Open Sans", sans-serif;
}

.navbar {
	background-color: rgba($vista-blue,0.4);
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 10px;
}

.navbar__title {
	font-family: "Audiowide", cursive;
	font-size: 3rem;
	letter-spacing: 2.8px;
	text-align: center;
	text-shadow: 3px 3px 2px rgba(0, 0, 0, 1);
}

.navbar__links {
	display: flex;
	justify-content: center;
}

.navbar__link {
	background-color: $vista-blue;
	padding: 5px;
	border-radius: 5px;
	color: $white-smoke;
	font-weight: 700;
	text-decoration: none;
	margin: 3px 5px;
	text-transform: uppercase;

	&.selected {
		background-color: $pewter-blue;
	}

	&:hover {
		background-color: darken($vista-blue, 10%);
	}
}

.mainContent {
	background-color: rgba(#FFFFFF, 0.2);
	border-radius: 5px;
	padding: 20px;
	margin: 20px 10px;
}

.loader {
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #3498db;
  border-right: 10px solid #3498db;
  width: 70px;
  height: 70px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 1.3s linear infinite;
  margin: 10px auto;
}

.hidden {
	display: none;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.daily__title {
	font-size: 32px;
	text-align: center;
}

.daily__date {
	font-size: 16px;
	text-align: center;
}

.daily__imageContainer {
	display: flex;
	justify-content: center;
	max-height: 100vh;
	width: 100%;
	margin: 10px 0;
}
.daily__image {
	margin: 0 auto;
	max-height: 100vh;
	width: 100%;
	object-fit: contain;
	border-radius: 5px;
	overflow: hidden;
}

.daily__videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.daily__video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.daily__description {
	font-size: 18px;
	font-weight: normal;
	padding: 0 9px;
}

.daily__error {
	text-align: center;
	font-size: 2rem;
	font-weight: bold;
}

.nearEarth__title {
	text-align: center;
}

.nearEarth__date {
	text-align: center;
}